<div class="bookListingContainer">

    
    {% if books %}

    {% for book in books %}

    <a href="{% url 'bookDetail' book.id %}">
        <div class="book-card">
            <img src="{{book.book_image.url}}" alt="image not available">
            <h3>{{book.name}}</h3>

            <p>Genre: {{book.genre}}</p>
            <p>Subject: {{book.subject}}</p>
            <p>Location: {{book.location}}</p>
            <p style="font-weight: 600;">Price: <span class="priceText">${{book.price}}</span></p>

            {% if type == 'lendBooks' %}
            <button>Borrow</button>
            {% endif %}

        </div>
    </a>

    {% endfor %}

    {% else %}

    <div class="no-book-found">
        <h3 style="color: white;">No Book found</h3>
    </div>

    {% endif %}

</div>