{% extends 'base.html' %}

{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/login.css' %}">

<style>
    body {
        background-image: url("{% static 'images/home-background.avif' %}");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
</style>

<div class="authContainer">
    <form action="" method="POST">
        <h3>Confirm Email</h3>

        {% csrf_token %}

        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Your Email here" required>


        {% if messages %}
        {% for message in messages %}
        <p class="dangerText">{{message}}</p>
        {% endfor %}
        {% endif %}

        <button class="button-29">Submit</button>


    </form>
</div>

{% endblock %}