{% extends 'base.html' %}

{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/login.css' %}">
1
<style>
    body {
        background-image: url("{% static 'images/home-background.avif' %}");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
</style>

<div class="authContainer">
    <form action="" method="POST">
        <h3>Reset Password</h3>

        {% csrf_token %}

        <label for="password1">Password</label>
        <input type="password" name="password1" placeholder="Your password here" required>

        <label for="password1">Confirm Password</label>
        <input type="password" name="password2" placeholder="Your password again" required>


        {% if messages %}
        {% for message in messages %}
        <p class="dangerText">{{message}}</p>
        {% endfor %}
        {% endif %}

        <button class="button-29">Submit</button>


    </form>
</div>

{% endblock %}